* {
  color: rgb(161, 230, 242);
}

body {
  background-image: url("./images/background.png");
  text-align: center;
}

.boxCont {
  display: flex;
  justify-content: space-around;
}

.boxContM {
  display: flex;
  flex-flow: row wrap;
  gap: 20px 50px;
  justify-content: center;
}

.boxContM2 {
  display: flex;
  flex-flow: column nowrap;
}

.boxM {
  border: 1px silver solid;
  border-radius: 10px;
  padding: 0px 20px 0px;
  font-size: 100%;
  display: flex;
  flex-flow: column nowrap;
}

img {
  width: 150px;
}
