* {
  color: rgb(161, 230, 242);
  box-sizing: border-box;
}

main {
  width: 100vw;
}

body {
  background-image: url("./images/background.png");
  text-align: center;
}

.box {
  width: 100%;
}

.boxCont {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.boxContM {
  display: flex;
  flex-flow: row wrap;
  gap: 50px 50px;
  justify-content: center;
}

.boxM {
  border: 1px silver solid;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  font-size: 100%;
  padding: 0px 30px 0px;
  width: 200px;
}

img {
  width: 150px;
}

@media (max-width: 1160px) {
  .boxCont {
    overflow: auto;
  }
}
